#root {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0.5rem;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.map {
	height: 100%;
}

.main-pane {
	display: flex;
	align-items: stretch;
	height: 100%;
	text-align: left;
}

.map-pane {
	flex: 2;
	position: relative;
}

.map-pane-inner {
	height: 100%;
}

.objs-editor-pane {
	flex: 1;
	padding: 0 0.5rem;
	overflow: scroll;
}

.coord-input {
	width: 2.5rem;
}

.name-input {
	max-width: 6rem;
}

.obj-editor {
	border: 1px solid #555;
	padding: 0.3rem 0.5rem;
	margin-bottom: 0.3rem;
}

.toolbar-pane {
	text-align: left;
	margin-bottom: 0.1rem;
}

.toolbar-button {
	border-radius: 4px;
	padding: 0.25rem 0.5rem 0.1rem 0.5rem;
	margin: 0.2rem;
}

.shortcut-button {
	border-radius: 4px;
	background-color: #123;
	border-color: #245;
	padding: 0.2rem 0.3rem 0rem 0.3rem;
}

.del-shortcut-button {
	background-color: #421;
	border-color: #523;
}

.notifs-pane {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.notif-pane {
	padding: 0.3rem 0.4rem 0px 0.4rem;
	width: fit-content;
}

.error-pane {
	background-color: #812;
}

.instruction-pane {
	background-color: #182;
}

.editor-btn-group {
	display: inline-block;
}

.editor-btn-group button:last-child {
	border-radius: 0 3px 3px 0;
}

.editor-btn-group button:first-child {
	border-radius: 3px 0 0 3px;
}

.editor-btn-group > button {
	border-radius: 0px;
}
